<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Delete Book</h1> 
<p>Are you sure you want to delete {{title}}?</p>
<form action="{{url_for('deleteBook', book_id = id)}}" method="POST">
	<input type="submit" name="delete"  > 
	<a href="{{url_for('showBook')}}">cancel</a>
</form>
</body>
</html>