<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Edit Book</h1>
	<form action="{{url_for('editBook', book_id = id)}} " method="POST">
		<label>Name: <input type="text" name="bookN" placeholder="{{title}}"> <input type="submit" name="submit"> <a href="{{url_for('showBook')}}">Cancel</a></label>
	</form>
</body>
</html>