<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>New Book</h1>
<form action="{{url_for('newBook')}}" method="POST">
	<p>Name:</p>
	<input type="text" name="NNBook">
	<input type="submit" name="create" value="Create">
</form>
</body>
</html>