<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<h1 style="text-align: center;">Books</h1>
	<div class=" card-group" style=" margin: 1% auto;" >
		{% for book in books: %}
			<div class="card" width="50%" style="background-color: rgba(211,211,211, 0.6); display: inline-block; ">
				<div class="card-body" >
					<h4 class="card-title">{{book["title"]}} {{book["id"]}} </h4>	
					<a href="{{url_for('editBook',book_id = book['id'])}}" class=" card-text btn btn-primary">edit books</a>
					<a href="{{url_for('deleteBook', book_id = book['id'])}}" class="card-text btn btn-primary"> delete </a> 
				</div>
			</div>
		{% endfor %}
	</div>
</body>
</html>